# URL of the API server (e.g. https://your-backend-api.com)
NUXT_PUBLIC_BASE_URL=

# Organization ID
NUXT_PUBLIC_ORG=

# DaData API suggestion token
NUXT_PUBLIC_DADATA_TOKEN=

# Business form configuration name
NUXT_PUBLIC_BUSINESS_FORM_NAME=
